{% load static wagtailuserbar wagtailimages_tags wagtailcore_tags cache %}

<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="Motus Ninja Warrior Official Website" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/motus.css' %}">

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">

		<meta name="google-site-verification" content="GVK4MZkqfUrgN7q0l194pLqY0aQETrzVYr2InyauySw" />
		<meta name="google-site-verification" content="QpOEFa7k8RW5POuCtyNbhcZ4EgeapGRIwuQ_0aMSRyM" />
		<meta name="msvalidate.01" content="84DA613A5E8E77E801D81B011A781AE8" />
		<meta property="og:title" content="Motus Ninja Warrior Official Website" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://motusninjawarrior.com" />

		{% if page.image %}
			{% image page.image format-jpeg jpegquality-40 as main_image %}
			<meta property="og:image" content="{{ main_image.url }}" />
		{% endif %}

		{% if page.hero_text %}
			<meta property="og:description" content="{{ page.hero_text }}" />
		{% else %}
			<meta property="og:description" content="Join us for a unique ninja and fitness experience at Motus" />
		{% endif %}


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>



    <body class="{% block body_class %}{% endblock %} theme04">

		{% wagtailuserbar %}

        <header class="header">

			<nav class="navbar navbar-toggleable-md">

				<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="/">
					<img src="{% static 'images/Motus_logo_bk.png' max-80x80 %}" alt="">
				</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="false">
					<ul class="navbar-nav m-auto" id="navbar-scrollspy">
						<li class="nav-item active">
							<a class="nav-link active" href="/#to-top">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/#to-classes">Programs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/#to-advantage">Enrollment</a>
						</li>

						<li class="nav-item">
							<a class="nav-link mobile-hide" href="/#to-gallery">Gallery</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/#to-coaches">Crew</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/#to-blog">Our Events</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/#to-location">Location</a>
						</li>

                        <li class="nav-item">
							<a class="nav-link" href="/#to-contact">Contact Us</a>
						</li>
					</ul>

					<ul class="navbar-nav navbar-right search-link navbar-search">
						<li class="nav-item">
							<i class="fa fa-phone"></i><a href="tel:1-816-347-8008"><span style="color:#020202;font-weight:bold"> 816-347-8008</span></a>
						</li>

					</ul>

				</div>
			</nav>

		</header>



        {% block content %}

		{% endblock %}

        {# Global javascript #}

		 <script type="text/javascript" src="{% static 'js/jquery/jquery-3.2.1.min.js' %}"></script>
	     <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
		 <script type="text/javascript" src="{% static 'js/bootstrap_select/bootstrap-select.min.js' %}"></script>
		 <script type="text/javascript" src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
         <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
		 <script type="text/javascript" src="{% static 'js/nouislider/nouislider.min.js' %}"></script>
		 <script type="text/javascript" src="{% static 'js/slick/slick.min.js' %}"></script>
		 <script type="text/javascript" src="{% static 'js/shuffle/shuffle.min.js' %}"></script>
		 <script type="text/javascript" src="{% static 'js/slick-lightbox/slick-lightbox.min.js' %}"></script>
		 <script type="text/javascript" src="{% static 'js/tether/tether.min.js' %}"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78956920-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-78956920-2');
		</script>



        {% block extra_js %}
			{# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>


</html>
