{% extends "base.html" %}

{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags %}

{% block body_class %}template-trainingpage{% endblock %}

{% block content %}



    <main class="main">
			<section class="section-classes-single -mg_top30">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-10 offset-lg-1 col-md-12">
							<div class="classes-single-item -single">
								<div class="img-wrap">

                                    {% if page.header_image %}
											{% image page.header_image max-1000x500 format-jpeg jpegquality-40 as header_image %}
											<img src="{{ header_image.url }}" alt="">
									{% endif %}

								</div>
								<div class="item-description">
									<div class="_header">
										<div class="header-title">
											<h4 class="title">{{ page.title }}</h4>
											<p class="subtitle">{{ page.sub_title }}</p>
										</div>
									</div>
									<div class="_body">
										{{ page.body }}
									</div>
								</div>
                                <br><br>
                                <p style="text-align:right;"><a href="{{ page.get_parent.url }}">Check out other classes</a></p>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>




{% endblock %}