.theme04 {
	font-family: 'Gilroy', sans-serif;
	color: #000;
	& .slider-content ._header a{
		color: #000;
	}
	& .section-coaches.-home04{
		& .link.-black{
			&:hover{
				color: #fff;
			}
		}
	}
	& .link.-black{
		&:hover{
			color: #2ce41f;
		}
	}
	.section-gallery.-home04 .title-link .link{
		&:hover{
			color: #2ce41f;
		}
	}
	.header.dark .search-link .fa, .header.dark .navbar-toggleable-md .navbar-nav .nav-link{
		&:hover{
			color: #2ce41f;
		}
	}
	& .search-link .fa{
		&:hover{
			color: #2ce41f;

		}
	}
	& .btn-search{
		background: #2ce41f;
		transition: all .3s;
		&:hover{
			background: darken(#2ce41f , 10%);
		}
	}
	& .slider-stories-home04 .social a{
		&:hover{
			color: #fff;
		}
	}
	& .section-testimonials.-home04 .slider-stories.slider-stories-home02 .social a,
	& .section-testimonials.-home04 .title-link .link{
		&:hover{
			color: #2ce41f;
		}
	}
	& .panel.-step .link{
		&:hover{
			color: #2ce41f;
		}
	}
	& .list-default a{
		&:hover{
			color: #2ce41f;
		}
	}
	& .slider-coaches-home04 .social a{
		&:hover{
			color: #fff;
		}
	}
	& .btn-link.btn-ico{
		color: #000;
		&:hover{
			color: #2ce41f;
		}
	}
	& .card.-product-wide .price{
		font-family: 'Gilroy', sans-serif;
	}
	& .card.-product-wide .link{
		font-family: 'Gilroy', sans-serif;
		&:hover{
			color: #2ce41f;
		}

	}

	& .blog-item ._body{
		padding: 15px 0 0;
	}

	& .blog-item ._footer a{
		&:hover{
			color: #2ce41f;
			& i.fa {
				color: #2ce41f;
				transition: all .3s;
			}
		}
	}
	& .stories .social a{
		&:hover{
			color: #2ce41f;
		}
	}
	& .section-testimonials-single.-home04 a{
		&:hover{
			color: #2ce41f;
		}
	}
	.classes-single-item {
		&.-dark{
			& .social{
				& a {
					&:hover{
						color: darken(#2ce41f , 20%);
					}
				}
			}
		}
	}
	& .link{
		color: #fff;
		&.-black{
		    color: #000;
		    & span{
		    	font-weight: 900;
		    	text-transform: uppercase;
		    }
		}
		&:hover{
			color: #2ce41f;
		}
	}
	h1, h2, h4, h5,
	.h5 {
		font-family: 'Gilroy', sans-serif;
	}

	.navbar-toggleable-md .navbar-nav .nav-link {
		font-family: 'Gilroy', sans-serif;
	}

	.list-schedule > li:hover .time:after {
		background-color: #2ce41f;
	}


	.theme04 .section-coaches {
        background-color: #f5d02c;
    }

	.btn {
		font-family: 'Gilroy', sans-serif;
	}
	.btn-secondary{
		background: #2ce41f;
		border-color: #2ce41f;
		color: #000;
		&:hover,
		&:focus,
		&:focus:active {
			background-color: darken(#2ce41f , 10%);
			border-color: darken(#2ce41f , 10%);
			color: #000;
		}
	}
	.btn-primary {
		background-color: #f0f0f0;
		border-color: #f0f0f0;
		color: #000;

		&:hover,
		&:focus,
		&:focus:active {
			background-color: #2ce41f;
			border-color: #2ce41f;
			color: #000;
		}
	}

	.lined:before {
		background-color: #2ce41f;
	}

	.navbar-toggleable-md .navbar-nav .nav-link.active, .navbar-toggleable-md .navbar-nav .nav-link:hover {
		box-shadow: 0 -4px 0 #2ce41f inset;
	}


	.timetable-col.active .timetable-title {
		color: #2ce41f;
	}

	.section-coaches {
		background-color: #2ce41f;
	}

	.timetable-wrap.-simple .timetable-item:hover {
		background-color: #2ce41f;
	}

	.panel.-step .panel-heading .num {
		background-color: #2ce41f;
	}

	.slider-stories .author {
		color: #2ce41f;
	}

	.blog-item .title:after {
		background-color: #2ce41f;
	}

	.rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
		color: #2ce41f;
	}

	.list-location > li .title:before {
		color: #2ce41f;
	}

	.section-contact .social a:hover {
		color: #2ce41f;
	}

	.section-coaches-single .classes-single-item ._header .title {
		color: #2ce41f;
	}

	.section-coaches-single.-dark .social a {
		color: #2ce41f;
	}

	.nav-tabs.-primary .nav-link:after {
		background-color: #2ce41f;
	}

	.nav-tabs.-primary .nav-link,
	.shop-info-content .old-price,
	.shop-info-content .new-price {
		font-family: 'Gilroy', sans-serif;
	}
}

.section-coaches {
	&.-home04 {
		background-image: none;
		padding-bottom: 60px;

		h2 {
			color: #000;
		}

		.lined {
			&:before {
				background-color: #000;
			}
		}

		.link {
			font-family: 'Gilroy', sans-serif;
		}

		.slider-content ._header h4 {
			color: #2ce41f;
		}
	}
}

.section-gallery {
	&.-home04 {
		.title-link .link {
			color: #fff;
			font-family: 'Gilroy', sans-serif;
		}
	}
}
@media (max-width: 992px){
	.theme04 {
		.header.dark .search-link .fa,
		 .header.dark .navbar-toggleable-md .navbar-nav .nav-link{
			&:hover{
				color: #fff;
				background: #2ce41f;
			}
		}
		.navbar-toggleable-md .navbar-nav .nav-link.active{
			background: #2ce41f;
		}
	}
}