{% extends "base.html" %}

{% load static wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags class_schedule_tags %}


    {% block content %}


		<main class=" theme04 main -pd_top0">
			<section class="section-top -home04" id="to-top">
				<div class="container-fluid _content" style="background-color:#2ce41f;margin-bottom:5px" >
					<div class="row justify-content-center align-items-center">
						<div class="col-xl-8 col-sm-12" style="display:block">
							<div class="img-wrap">
                                {% if page.image %}
                                    {% image page.image format-jpeg as main_image %}
                                    <img src="{{ main_image.url }}" alt="">
                                {% endif %}
							</div>
						</div>
						<div class="col-xl-4 col-sm-12" style="padding-left: 10px">
                            <div class="row mobile-hide" style="margin-bottom:100px"></div>
							<div class="heading-wrapper">
								<h1 style="color:#ffffff">{{ page.hero_text }}</h1>
								<p class="subheading" style="color:#ffffff">{{ page.hero_sub_text }} </p>

                                <div style ="text-align: center;margin-top: 60px;padding-bottom:30px">
                                    <a class="btn btn-secondary" style="border-radius: 30px" href="{% pageurl page.hero_cta_link %}">
                                        <span>{{ page.hero_cta }}</span>
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</section>


        {% if page.specific.body %}
            <section class="section-blog_page">

                <div class="container-fluid">
                <div class="row col-md-11">
                    <div class="col-lg-10 offset-lg-1 col-md-10">
                        <div class="row">
                            <p class="subheading">{{page.specific.body|richtext }}</p>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        {% endif %}

        {% if page.featured_section_1 %}
            <section class="section-classes -home-04" id="to-classes">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="offset-lg-1 col-lg-10 col-md-12">
                                    <div class="section-heading d-flex justify-content-between align-items-center">
                                        <h2 class="lined -bot">{{ page.featured_section_1_title }}</h2>
                                        <div class="title-link" style="text-align: right;">
                                            <a class="link -black" href="{% pageurl page.featured_section_1 %}">
                                                <span>View all classes</span>
                                                <i class="fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">

                                    <div class="slider-classes-home03 slider-classes-home03_js">

                                       {% for post in page.featured_section_1.specific.children|slice:"10" %}
                                            {% image post.specific.header_image max-1000x500 format-jpeg jpegquality-40 as my_image %}

                                        <div class="item" style="height:auto;">
                                            <a class="img-wrap" href="{% pageurl post %}" style="background-image:url({{ my_image.url }})"></a>
                                            <div class="slider-content">
                                                <div class="_header">
                                                    <a href="{% pageurl post %}">{{ post.title }}</a>
											        <span class="subtitle">{{ post.specific.sub_title | default_if_none:""  }}</span>
                                                </div>
                                                <div class="_body">
                                                    <p>{{ post.specific.intro }}</p>
                                                </div>
                                                <div class="_footer text-right">
                                                    <a class="btn btn-primary" href="{% pageurl post %}">
                                                        <span>View details</span>
                                                        <i class="fa fa-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        {% endif %}

        <div class="section-wrapper" id="to-gallery">

            <section class="section-advantage -home04" id="to-advantage">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-xs-12 col-md-12 col-lg-4" >

                            <div class="section-heading">
                                    <h2 class="lined -bot">Enrollment</h2>
                            </div>



                        <div class="row">

                                <div class="col-xs-6 col-md-6 col-lg-10">
                                    <ul class="list-chip">
                                        <li>
                                            <div class="icon-wrap">
                                                <a href="/documents/1/MF_Adult_Waiver.pdf" style="color:#fff;">
                                                    <i class="fas fa-tasks"></i>
                                                    <span class="title" style="font-weight:400">Adult Waiver</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-wrap">
                                                <a href="https://app.iclasspro.com/parentportal/motus/classes" target="_blank" style="color:#fff;">
                                                    <i class="far fa-calendar-alt"></i>
                                                    <span class="title" style="font-weight:400">Schedule</span>
                                                </a>
                                            </div>
                                        </li>

                                     </ul>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-10">
                                    <ul class="list-chip">

                                        <li>
                                            <div class="icon-wrap">
                                                <a href="/documents/2/MF_child_Waiver.pdf" target="_blank" style="color:#fff;">
                                                    <i class="fas fa-tasks"></i>
                                                    <span class="title" style="font-weight:400">Kid Waiver</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-wrap">
                                                <a href="https://app.iclasspro.com/parentportal/motus" target="_blank" style="color:#fff;">
                                                    <i class="fas fa-sign-in-alt"></i>
                                                    <span class="title" style="font-weight:400">Parent Portal</span>
                                                </a>
                                            </div>
                                        </li>
                                     </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-8 mobile-hide">
                                 <div class="section-heading">
                                    <h2 class="lined -bot">Gallery</h2>
                                </div>
                                <!-- The container for the list of example images -->
                                <div id="instafeed">
                                <!-- The Gallery as lightbox dialog, should be a child element of the document body-->

                                 </div>
                        </div>
                    </div>
                </div>
            </section>

            {% if page.featured_section_3 %}
                <section class="section-coaches -home04" id="to-coaches">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-10 col-md-12">
                                <div class="section-heading d-flex justify-content-between align-items-center">
                                    <h2 class="lined -bot">{{ page.featured_section_3_title }}</h2>
                                    <div class="title-link" style="text-align: right;">
                                        <a class="link" href="{% pageurl page.featured_section_3 %}">
                                            <span>All trainers</span>
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider-stories slider-stories-home02">

                               {% for coach in page.featured_section_3.specific.children|slice:"10"%}

                                <div>
                                    <div class="item">
                                        <div class="item-aside">
                                            <div class="img-wrap">
                                                {% if coach.header_image %}
                                                {% image coach.header_image fill-300x300-c100 format-jpeg jpegquality-40 as header_image %}
                                                <img src="{{ header_image.url }}" alt="">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="author" style="color:#020202">{{coach.title}}</h4>
                                            <div class="description">
                                                <p>{{coach.intro}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {%endfor%}

                            </div>
                        </div>
                    </div>
                    </div>
                </section>
            {% endif %}

        </div>

        {% if page.featured_section_2 %}
            <section class="section-blog -home04" id="to-blog">

                <div class="container-fluid">

                    <div class="row">

						<div class="col-md-12 col-lg-10 offset-lg-1">

                            <div class="section-heading d-flex justify-content-between align-items-center">
                                <h2 class="lined -bot">{{ page.featured_section_2_title }}</h2>
							</div>

						</div>
					</div>

					<div class="row">

						<div class="col-lg-10 offset-lg-1">

                            <div class="my-shuffle-container grid-custom-wrapper" id="blog-grid">

                                {% for post in page.featured_section_2.specific.children|slice:"3" %}

                                <div class="col -third filter-item" data-groups="[&quot;trainers&quot;, &quot;classes&quot;]" data-date-created="{{ post.specific.date }}" data-title="Motus Events">
                                    <div class="blog-item -default -no-shadow">
                                        <div class="_header">
                                            <a class="img-wrap relative" href="{% pageurl post %}">
                                                {% if post.specific.header_image %}
                                                            {% image post.header_image max-500x250 format-jpeg as header_image %}
                                                                <img src="{{ header_image.url }}" alt="">
                                                {% endif %}
                                                <h4 class="title -bottom">{{ post.title }}</h4>
                                            </a>
                                        </div>
                                        <div class="_body">
                                            <p class="descr">{{ post.specific.intro }}</p>
                                        </div>
                                        <div class="_footer">
                                            <a class="link" href="{% pageurl post %}">
                                                <span>Read more</span>
                                                <i class="fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}


						</div>

					</div>
                    </div>

					<div class="row">
						<div class="col-md-12 text-center" style="margin-top:25px">
							<a class="btn btn-secondary" href="{% pageurl page.featured_section_2 %}">
								<span>More Events</span>
								<i class="fa fa-arrow-right"></i>
							</a>
						</div>
					</div>

                </div>
			</section>
        {% endif %}



        <div class="col-md-12">
            <div class="row">

                <div class="col-md-7 col-lg-8">

                    <div class="section-location -home04" id="to-location">
                        <div class="section-heading text-center">
                          <h2 class="lined d-inline-block">our location</h2>
                        </div>
                        <ul class="list-location">
                        <li>
                            <ul class="list-contact" style="margin-top:50px">
                                <li>
                                    <i style="margin-left:15px" class="fa fa-map-marker"></i><span>725 NW Commerce Dr, Lee's Summit, MO 64086</span>
                                </li>
                            </ul>
                        </li>

                    </ul>
                        <div class="map-wrapper" style="margin-top:15px">
                            <div id="multi_map"><iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=725%20NW%20Commerce%20Dr%20Lee%E2%80%99s%20Summit%2C%20MO%2064086&amp;key=AIzaSyDC9ED5SQ6GwO97o3_CW2OZDUcuyQAJs5s" allowfullscreen=""></iframe></div>
                        </div>
                    </div>


                    <div class="section-contact -home04" id="to-contact">

                        <div class="halfheight bg-img-form -bordered">

                            <div class="section-heading "></div>
                            <form class="form-contact" action="{% pageurl page.contact_us_page.specific %}" method="POST">
                                <div class="section-heading text-center">
                                    <h2 class="lined -bot d-inline-block">{{ page.contact_us_page.title }}</h2>
                                    <p class="subheading">{{ page.contact_us_page.specific.intro|richtext }}</p>
                                </div>

                                {% csrf_token %}

                                {{form}}

                                <!---->
                                <div class="text-right" style="margin-top: 15px;">
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </div>

                            </form>

                        </div>
                        <div class="container-fluid">
                            <div class="row justify-content-between">

                                <div class="col-md-3 col-sm-6 justify-content-center">

                                    <div class="item-contact">
                                            <h5 class="" style="margin-top:15px">Office Hours</h5>
                                        <p style="margin-bottom: 0;">Monday-Friday: 10am-8pm</p>
                                        <p>Saturday: 12pm-7pm</p>
                                    </div>

                                    <div class="item-contact">
                                            <h5 class="">Social links</h5>
                                            <div class="social">
                                                <a class="fa fa-facebook" href="https://www.facebook.com/motusfitls/" target="_blank"></a>
                                                <a class="fa fa-instagram" href="https://www.instagram.com/motusfit/" target="_blank"></a>
                                            </div>
                                    </div>

                                    <div class="item-contact">
                                            <h5 class="">Phone Number</h5>
                                            <i class="fa fa-phone"></i><a href="tel:1-816-347-8008"><span style="color:#fff">816-347-8008</span></a>
                                    </div>



                                      <!--<li>
                                    <i class="fa fa-phone"></i><a href="tel:1-816-347-8008"><span style="color:#fff">1-816-347-8008</span></a>
                                </li>-->


                                </div>
                            </div>
                        </div>

                     </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="section-heading" style="margin-top: 90px;">
                        <h2 class="lined d-inline-block">Social Activity</h2>
                    </div>
                    <div id="fb-root" style="margin-left:10px">
                        <div class="fb-page" data-href="https://www.facebook.com/motusninjawarrior" data-tabs="timeline" data-width="400" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/motusfitls" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/motusfitls">Motus Fit</a></blockquote></div>
                    </div>
                </div>


            </div>
        </div>

        </main>

        {% endblock content %}


	    {% block extra_js %}

            {# Override this in templates to add extra javascript #}
            <script type="text/javascript" src="{% static 'js/instafeed/instafeed.min.js' %}"></script>
            <script type="text/javascript">
                {% verbatim %}
                var feed = new Instafeed({
                    get: 'user',
                    userId: '7083891990',
                    accessToken: '7083891990.e111ae1.bd39b500502e442eb0714618335e2c1c',
                    template: '<a href="{{link}}"><img src="{{image}}" /></a>',
                    limit:'14'
                });
                {% endverbatim %}
                feed.run();
            </script>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        {% endblock %}
