{% extends "base.html" %}

{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags %}

{% block body_class %}template-classesindexpage{% endblock %}

{% block content %}


    <main class="theme04 main -inner -pt_toplg">

		<div class="container-fluid">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 col-md-12">
						<h2 class="lined -bot">{{ page.title }}</h2>
					    <div class="intro">{{ page.intro}}</div>

					</div>
				</div>

				<div class="row">

					<div class="col-lg-10 offset-lg-1 col-md-12">
						<div class="slider-classes-home03 margin-item-0 row">


							{% for post in page.get_children %}

							{% image post.specific.header_image max-1000x500 format-jpeg jpegquality-40 as my_image %}

								<div class="item col-xl-4 col-lg-4 col-md-6 col-sm-12">
									<a class="img-wrap" href="{% pageurl post %}" style="background-image:url({{ my_image.url }})"></a>
									<div class="slider-content">
										<div class="_header">
											<a href="{% pageurl post %}">{{ post.title }}</a>
											<span class="subtitle">{{ post.specific.sub_title | default_if_none:""  }}</span>
										</div>
										<div class="_body">
											<p>{{ post.specific.intro }}</p>
										</div>
										<div class="_footer text-right">
											<a class="btn btn-primary" href="{% pageurl post %}">
												<span>View details</span>
												<i class="fa fa-arrow-right"></i>
											</a>
										</div>
									</div>
								</div>

								<h2></h2>

							{% endfor %}



						</div>
					</div>
				</div>
			</div>

	</main>




{% endblock %}